.textbook-container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  align-items: center;
}

.tb-mini-game-select {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
}

.tb-minigame {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.tb-pagination {
  width: 50%;
  min-width: 460px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.tb-pagination button,
.tb-group-select button {
  width: 45px;
  height: 45px;
  padding: 0;
}

.tb-words {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 1rem;
}

.tb-word {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  column-gap: 1rem;
}

input[name='description'] {
  display: none;
}

.tb-wrd-desc {
  display: none;
}

.tb-word-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  row-gap: 1rem;
}

.tb-group-select {
  width: 50%;
  min-width: 460px;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.group-select {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tb-group-selected {
  background-color: rgba(38, 70, 83);
  color: white;
}

.tb-word-title-translation-pronounciation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  color: rgba(38, 70, 83);
}
.tb-word-title-translation-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.page-num {
  border: none;
  background-color: transparent;
  color: white;
  appearance: none;
  text-align: center;
  font-size: 2rem;
  width: 3rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.tb-img {
  width: 40%;
  height: fit-content;
  flex-shrink: 0;
}

.tb-user-functionality {
  display: flex;
  justify-content: space-between;
}

.tb-add-difficult-btn {
  background-color: orange;
}

.tb-add-learned-btn {
  background-color: rgb(74, 193, 74);
}

.tb-learning-progress {
  width: 30%;
  display: flex;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
}

.tb-learned-word {
  opacity: 0.5;
  transition: 0.5s;
  border: 5px solid rgb(74, 193, 74);
}

.tb-learned-word:hover {
  opacity: 1;
}

.tb-difficult-word {
  border: 5px solid orange;
}

.tb-word-definition,
.tb-word-sentence {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.tb-definition-english i {
  font-size: 1.5rem;
  font-style: normal;
  color: rgba(42, 157, 143);
}

.tb-sentence-english b {
  color: rgba(42, 157, 143);
}

@media (max-width: 767px) {
  .tb-word {
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;

    align-items: center;
    text-align: center;
  }

  .tb-word-info {
    width: 100%;
    flex-grow: 0;
  }

  .tb-user-functionality {
    flex-direction: column;
    row-gap: 1rem;
  }

  .tb-learning-progress {
    font-size: 1.5rem;
    align-self: center;
  }

  .tb-wrd-desc {
    display: block;
  }

  .tb-word-definition,
  .tb-word-sentence {
    display: none;
  }

  input[name='description']:checked ~ .tb-word-definition {
    display: flex;
  }

  input[name='description']:checked ~ .tb-word-sentence {
    display: flex;
  }

  .tb-group-select,
  .tb-pagination {
    justify-content: flex-start;
    width: 100%;
    min-width: unset;
    flex-wrap: wrap;
  }
}

@media (max-width: 550px) {
  .tb-word-title-translation-pronounciation {
    flex-direction: column;
    align-items: center;
  }

  .tb-word-title-translation-info {
    flex-direction: column;
    align-items: center;
  }

  .tb-mini-game-select {
    flex-direction: column;
    row-gap: 1rem;
  }
  .tb-minigame {
    width: 100%;
  }
}
