.main-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main-feature {
  height: 370px;
  width: 364px;
  padding: 40px, 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-feature-list {
  display: flex;
  flex-wrap: wrap;
}
.main-team-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-team-member {
  max-width: 676px;
  height: 240px;
}
.main-page-container {
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
