.main-section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-section > * {
  display: flex;
}

.main-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-feature-list {
  flex-wrap: wrap;
}

.main-feature-list > * {
  width: 25%;
  min-width: 160px;
  padding: 1rem;
}

.main-team-list {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.main-team-list > * {
  width: 33%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.team-member-info ul {
  list-style-type: disc;
}

.main-page-container {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .main-feature-list > * {
    width: 50%;
  }
  .main-page-container {
    padding: 1rem;
  }
}
@media (max-width: 550px) {
  .main-feature-list > * {
    width: 100%;
  }

  .main-team-list > * {
    width: 100%;
  }
}
