.sprint {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  row-gap: 1rem;
}

.sprint__container {
  width: 100%;
  position: relative;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 2rem;
  row-gap: 2rem;
  flex-shrink: 0;
  text-align: center;
}

.sprint__container > * {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  row-gap: 2rem;
}

.sprint__words {
  flex-direction: column;
  font-size: 2rem;
  row-gap: 1rem;
  color: white;
  min-width: 320px;
}
.sprint__words * {
  width: 100%;
}

.sprint__words_suggested {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: bold;
}

.sprint__words li {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.sprint__score {
  font-size: 4rem;
}

.sprint__points {
  font-size: 2.5rem;
}

.sprint__timer {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-list {
  flex-direction: row;
  text-align: center;
}

.answer-list ul {
  display: flex;
  row-gap: 1rem;
}

.answer-list > li {
  min-width: 280px;
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.sprint__counter-preview li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.counter-full {
  background-color: blueviolet;
}

.sprint__advices {
  align-self: flex-start;
  flex-direction: column;
}
.sprint__toggle-sound {
  width: unset;
}
.result_wrong,
.result_right {
  flex-direction: column;
  row-gap: 1rem;
}

.result_wrong li,
.result_right li {
  display: flex;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}

.sprint__settings {
  top: 1rem;
  right: 1rem;
  display: flex;
  column-gap: 1rem;
  align-self: flex-end;
}

.sprint__points {
  font-size: 2rem;
  align-self: flex-end;
}

.sprint__score {
  align-self: flex-end;
}

.sprint__message {
  font-size: 3rem;
}

.block-button,
button:disabled {
  opacity: 0.3;
}

@media (max-width: 1024px) {
  .sprint {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .sprint {
    width: 100%;
  }

  .sprint__container {
    padding: 1rem;
  }

  .answer-list {
    flex-direction: column;
    width: 100%;
  }

  .answer-list li {
    width: 100%;
  }

  .result_wrong,
  .result_right {
    width: 100%;
  }

  .sprint__points {
    font-size: 1.5rem;
  }

  .sprint__message {
    font-size: 2rem;
  }
}
@media (max-width: 550px) {
  .sprint__words_suggested {
    font-size: 2.5rem;
  }
  .sprint__words_translation {
    font-size: 1.5rem;
  }
}
