.sprint {
  width: 80%;
  margin: 0 auto;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  row-gap: 1rem;
}

.sprint__container {
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 2rem;
  row-gap: 2rem;
  flex-shrink: 0;
}

.sprint__container > * {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  row-gap: 2rem;
}
.sprint__words {
  flex-direction: column;
}

.sprint__timer {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
}

.answer-list {
  flex-direction: row;
  text-align: center;
}

.answer-list ul {
  display: flex;
  row-gap: 1rem;
}

.answer-list > li {
  min-width: 280px;
  width: 50%;
}

.counter-full {
  border-radius: 50%;
  background-color: blueviolet;
}

.sprint__advices {
  align-self: flex-start;
  flex-direction: column;
}

.result_wrong,
.result_right {
  flex-direction: column;
  row-gap: 1rem;
}

.result_wrong li,
.result_right li {
  display: flex;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}

.sprint__settings {
  top: 1rem;
  right: 1rem;
  display: flex;
  column-gap: 1rem;
}

@media (max-width: 1024px) {
}

@media (max-width: 767px) {
  .sprint {
    width: 100%;
  }

  .sprint__container {
    padding: 1rem;
  }

  .answer-list {
    flex-direction: column;
    width: 100%;
  }

  .answer-list li {
    width: 100%;
  }

  .result_wrong,
  .result_right {
    width: 100%;
  }
}
