* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.sprint {
  color: white;
  min-height: 100vh;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sprint button {
  min-width: 40px;
  min-height: 40px;
  padding: 0.5rem;
  background-color: white;
  color: black;
}

.sprint__container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 2rem;
  row-gap: 2rem;
  flex-shrink: 0;
}

.sprint__container > * {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  row-gap: 2rem;
}
.sprint__words {
  flex-direction: column;
}

.sprint__timer {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
}

.result {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.answer-list {
  flex-wrap: wrap;
}

.answer-list ul {
  display: flex;
  row-gap: 1rem;
}
.answer-list > li {
  min-width: 280px;
  width: 50%;
}

.counter-full {
  border-radius: 50%;
  background-color: blueviolet;
}

.sprint__advices {
  align-self: flex-start;
  flex-direction: column;
}

.result_wrong,
.result_right {
  flex-direction: column;
  row-gap: 1rem;
}

.sprint__settings {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  column-gap: 1rem;
}

.new-round,
.back-study {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
