.header-log-in-status {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header-logged-in-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3rem;
}

.log-out {
  cursor: pointer;
}

.auth-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 1rem;
}
.form > * {
  width: 100%;
}

.form-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-form {
  background-color: white;
  min-width: 300px;
  max-width: 600px;
  padding: 2%;
  color: #345383;
}

.form-input {
  color: black;
  padding: 0;
  height: 45px;
  box-sizing: border-box;
}

.form-input:invalid {
  text-indent: 43px;
}

.submit-btn {
  background-color: rgba(42, 157, 143);
  color: white;
}
.switch-form-btn {
  background-color: rgba(38, 70, 83);
  color: white;
}

.salutations {
  font-size: 2rem;
}
